#toptitle {
    margin-bottom: 4vh;
    text-align: center;
    font-family: 'patua One';
    font-size: 3em;
    color: #F47820;
    margin-top: 8vh;
}

h2.AboutHeaders {
    text-align: center;
    padding-top: 8%
}

h3.FAQ {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: justify;
    color: #F47820;
}

p.FAQ {
    text-align: justify;
}

h3.card-title {
    margin-top: 15%;
    text-align: center;
}

p.card-text {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%
}

img.round {
    height: auto;
    width: 100%;
    clip-path: circle(38% at center);
    margin-top: 15%;
}

.rounded-rectangle {
    border-radius:2rem;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    margin-bottom: 5%;
    margin-top: 5%;
}


/* Styling for interactive card

h3.card-title2 {
    text-align: center;
}

p.card-text2 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

img.round2 {
    height: auto;
    width: 300%;
    transform: translate(-50%);
}

.rounded-rectangle2 {
    border-radius:2rem;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    height: 500px;
    overflow: hidden;
    position: relative;
}

.rounded-rectangle3 {
    border-radius:2rem;
    height: 500px;
    position: relative;
    background-color: transparent;
    z-index: 1000;
    bottom: 0;
}

.slidingPanel {
    border-radius: 0 0 2rem 2rem;
    position: absolute;
    height: 30%;
    width: auto;
    bottom: 0;
    background-color: white;
}

p.slidingPanelText {
    position: relative;
    opacity: 0;
}

*/