#toptitle {
    margin-bottom: 3%;
    text-align: center;
    font-family: 'patua One';
    font-size: 3em;
    color: #F47820;
    margin-top: 9%;
}

h3.card-title {
    margin-top: 15%;
    text-align: center;
}

p.card-text {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%
}

img.round {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 15%;
}

.rounded-rectangle {
    border-radius:2rem;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    margin-bottom: 5%;
    margin-top: 5%;
}



/*
p.card-text2 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

img.round2 {
    height: auto;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
}

.rounded-rectangle2 {
    border-radius:2rem;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}
*/