hr{
    size: 2px;
    background-color: #F47820;
    margin-bottom: 3%;
}

#toptitle{
    margin-bottom: 3%;
    text-align: center;
    font-family: 'Patua One',cursive;
    font-size: 3em;
    color: #F47820;

}


.container-fluid .section{
    margin-top: 3%;
}

.header2{
    margin-bottom: 0;
}

.thumbpic{
    height: 25vh;
}

.card{
    height: 40vh;
}

.card-body:hover{
    text-decoration: none;
}