#toptitle{
    margin-bottom: 3%;
    text-align: center;
    font-family: 'Patua One',cursive;
    font-size: 3em;
    color: #F47820;
}

h2{
    margin-bottom: 3%;
    font-family: 'Patua One',cursive;
    font-size: 2em;
    color: #F47820;
}

#activitycost, #guidecost, #duration, #total{
    float: right;
}

hr{
    background-color: #F47820;
    size: 3px; 
}