/*Landing top container*/

.cover-container{
    /* The image used */
    background-image: url("images/bg.jpg");

    /* Full height */
    height: 100vh;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    color: white;
    font-size: 4.5rem;
    font-family: serif;
    text-align: center;
    padding-top:15%;
}

.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  border-radius: 50%;
    -webkit-animation: 3s arrow infinite ease;
	animation: 3s arrow infinite ease;
}

.landing{
    height: 794px;
}

#homeform{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30%;
}

#homeform button{
    background-color: #F47820;
    border: none;
    margin-top: 10%;
}

#homeform a:first-of-type:hover{
    text-decoration: none;
}

#loginpanel{
    background-color: lightgray;
    text-align: center;
}

#loginpanel input, #loginpanel{
    width: 100%;
}

#loginpanel img:last-of-type{
    background-color: #F47820;
    float: right;
    position: relative;
    width: 1.5vw;
}

/*Landing content */

#container-fluid h2{
    color: darkgoldenrod;
    margin-bottom: 5%;
}

.row{
    margin-bottom: 5%;
}

.row h3{
    color: #F47820;
}



/*Webkits*/

@keyframes arrow{
	0%, 100%{
		bottom : 10%;
	}
	50%{
		bottom:5%;
	}
}

