#journeyPlannerMaster button {
    background-color: #F47820;
    border: none;
}

#timetableContainer button {
    background-color: #F47820;
    border: none;
}

#printBtn, #selectBtn, #optimiseBtn, #resetBtn {
    margin-right: 5%;
}

#getActivitiesBtn{
    margin-left: 5%;
}

#activityDiv .btn-primary{
    margin-right: 5%;
    margin-top: 2%;
}