.container-fluid h1{
    margin-bottom: 3%;
    text-align: center;
    font-family: 'Patua One',cursive;
    font-size: 3em;
    color: #F47820;

}

.progress-bar{
    background-color: #F47820;
}

#signupform{
    margin-top: 10%;
}

#signupform input {
    margin-bottom: 4%;
}

#mobility, h2{
    margin-top: 5%;
}

h2{
    margin-bottom: 5%;
}

h2 img{
    width: 1.5vw;
}

#pref:hover{
    cursor: pointer;
}

#signup1, #signup2{
    display: none;
}

#signup2 img{
    height: 4vh;
    padding-left: 3%;
}

#signup2 img:hover{
    cursor: pointer;
}

/*what I like*/
h3{
	margin-bottom: 2%;
}

.q1, .q2{
    width: 60vw;
    height: 30vh;
}


.col-lg-2{
	margin-right: 3%;
	margin-top: 5%;
}

.col-lg-2:first-of-type{
	margin-left: 1%;
}

.col-lg-2 img{
    height: 10vh;
    width: 7vw;
	cursor: pointer;
}

.subtitle p {
	text-align: center;
}

.subtitle{
	width: 5vw;
	cursor: pointer;

}

