/*.container-fluid h1{
    margin-bottom: 3%;
    text-align: center;
    font-family: 'Patua One',cursive;
    font-size: 3em;
    color: #F47820;

}*/

.progress-bar{
    background-color: #F47820;
}

#signupform{
    margin-top: 10%;
}

#signupform input {
    margin-bottom: 4%;
}

#mobility, h2{
    margin-top: 5%;
}

#mobility{
    margin-bottom: 5%;
}

h2{
    margin-bottom: 5%;
}

h2 img{
    width: 1.5vw;
}

#pref:hover{
    cursor: pointer;
}

#signup1, #signup2{
    display: none;
}

#signup2 img{
    height: 4vh;
    padding-left: 3%;
}

#signup2 img:hover{
    cursor: pointer;
}

/*what I like*/
h3{
	margin-bottom: 4%;
}

.q1, .q2, .q3{
    width: 60vw;
    height: 30vh;
}


.q3 .col-lg-2{
	margin-right: 2%;
	margin-top: 5%;
    
}

.q3 .col-lg-2:first-of-type{
	margin-left:3%;
}

.q1 .col-lg-2{
	margin-right: 2%;
	margin-top: 5%;
    
}

.q1 .col-lg-2:first-of-type{
	margin-left:3%;
}

.q2 .col-lg-2{
	margin-right: 2%;
	margin-top: 5%;
    
}

.q2 .col-lg-2:first-of-type{
	margin-left:3%;
}

.q3 .col-lg-2 img{
    -moz-transform: scale(2.3);
    -ms-transform: scale(2.3);
    -o-transform: scale(2.3);
    -webkit-transform: scale(2.3);
    transform: scale(2.3);
	cursor: pointer;
}

.q1 .col-lg-2 img{
    -moz-transform: scale(2.3);
    -ms-transform: scale(2.3);
    -o-transform: scale(2.3);
    -webkit-transform: scale(2.3);
    transform: scale(2.3);
	cursor: pointer;
}

.q2 .col-lg-2 img{
    -moz-transform: scale(2.3);
    -ms-transform: scale(2.3);
    -o-transform: scale(2.3);
    -webkit-transform: scale(2.3);
    transform: scale(2.3);
	cursor: pointer;
}

.subtitle p {
	text-align: center;
}

.subtitle{
    margin-top: 15%;
	width: 5vw;
	cursor: pointer;
    margin-left: -2%;

}
